a:link { color:black; text-decoration: none;}
a:visited { color:black; text-decoration: none;}
a:hover { color:blue; text-decoration: underline;}

h1 {
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid grey;
  margin: 0;
  padding: 20px;
}

#grid ol{
  border-right:1px grey solid;
  width:80px;
  margin:0px;
  padding:20px;
  padding-right: 10px;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid img{
  margin-top: 70px;
  margin-bottom: 70px;
}

footer{
  border-top: 1px solid gray;
  margin-top: 0;
  text-decoration: none;
  padding: 10px;
}

@media(max-width:800px){
  #grid {
    display: block;
  }
  #grid ol{
    border-right:none;
  }

  }
